.vscode/
# .gitignore
temp.txt
bzImage

edk2/*
!edk2/HelloWorldPkg/
!edk2/MyAcpiViewPkg/
!edk2/ChangeACPITablePkg/
!edk2/MyAddAcpiPkg/

kvm/**
!kvm/linux-5.15.178/
!kvm/linux-5.15.178/kernel/
!kvm/linux-5.15.178/kernel/kv_store.c
!kvm/linux-5.15.178/kernel/fork.c

!kvm/linux-5.15.178/arch/
!kvm/linux-5.15.178/arch/x86/
!kvm/linux-5.15.178/arch/x86/entry/
!kvm/linux-5.15.178/arch/x86/entry/syscalls/
!kvm/linux-5.15.178/arch/x86/entry/syscalls/syscall_64.tbl

!kvm/linux-5.15.178/arch/x86/entry/vdso
!kvm/linux-5.15.178/arch/x86/entry/vdso/Makefile
!kvm/linux-5.15.178/arch/x86/entry/vdso/vdso-layout.lds.S
!kvm/linux-5.15.178/arch/x86/entry/vdso/vma.c
!kvm/linux-5.15.178/arch/x86/entry/vdso/vdso.lds.S
!kvm/linux-5.15.178/arch/x86/entry/vdso/vget_task_struct_info.c
!kvm/linux-5.15.178/arch/x86/entry/vdso/vdso.lds

# !kvm/linux-5.15.178/arch/x86/include/
# !kvm/linux-5.15.178/arch/x86/include/asm/
# !kvm/linux-5.15.178/arch/x86/include/asm/mmu.h
# !kvm/linux-5.15.178/arch/x86/include/asm/mmu_context.h
# !kvm/linux-5.15.178/arch/x86/include/asm/vdso.h

!kvm/linux-5.15.178/fs/
!kvm/linux-5.15.178/fs/ramfs/
!kvm/linux-5.15.178/fs/ramfs/inode.c
!kvm/linux-5.15.178/fs/ramfs/file-mmu.c
!kvm/linux-5.15.178/fs/ramfs/file-nommu.c

!kvm/linux-5.15.178/include/
!kvm/linux-5.15.178/include/linux/
!kvm/linux-5.15.178/include/linux/syscalls.h
!kvm/linux-5.15.178/include/linux/sched.h

!kvm/linux-5.15.178/include/uapi/
!kvm/linux-5.15.178/include/uapi/asm-generic/
!kvm/linux-5.15.178/include/uapi/asm-generic/unistd.h

!kvm/linux-5.15.178/drivers/
!kvm/linux-5.15.178/drivers/acpi/
!kvm/linux-5.15.178/drivers/acpi/mytb_reader.c

!kvm/busybox-1.35.0/
!kvm/busybox-1.35.0/_install/
!kvm/busybox-1.35.0/_install/init

xv6_uefi/

temp/
ctest/
uefi/

.gitignore

BOOTX64.EFI

ubuntu-24.04.1-desktop-amd64.iso
ubuntu-24.04.2-live-server-amd64.iso

work_log.md